.WatchedProduct{
  max-width: 120px;
  margin: 0 auto;
  padding: 5px;
  position: fixed;
  right: 5px;
  top: 200px;
}

.WatchedProduct .cards{
  width: 100%;
  background: rgba(250, 152, 152, 0.3);
  padding: 5px;
  border-radius: 10px;
}

.WatchedProduct .card{
  margin-bottom: 5px;
}